@import url('https://fonts.googleapis.com/css?family=Roboto');

nav{
	font-family: 'Roboto', sans-serif;
	padding-left: 40px;
	padding-top: 30px
}

nav a{
	text-decoration: none;
	margin: 1.8em;
	display: inline-block;
	color: black;
	font-weight: thin;
}

a:hover{
	color: #ffaaaa;
	font-weight: bold;
}

#three_column{
	font-family: 'Roboto', sans-serif;
	background-color: #FFeeee;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 100px;
	height: 400px;
}

ul{
	float: left;
	padding: 20px;
	width: 314px;
	line-height: 2.5em;
	font-size: 12px;
}

p{
	text-align: center;
	color: white;
	padding-top: 80px;
	font-weight: medium;
	font-size: 20px;
}

#left{
	background-image: url("https://www.eileenfisher.com/ns/images/behind_the_label/leather_district.jpg");
	padding: 20px;
	float: left;
	width: 425.16px;
	height: 254.88px;
}

#right{
	background-image: url("https://www.eileenfisher.com/ns/images/behind_the_label/made_in_usa_global_01.jpg");
	padding: 20px;
	float: right;
	width: 425.16px;
	height: 254.88px;
}

.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
