<@import url('https://fonts.googleapis.com/css?family=Roboto');

nav{
	font-family: 'Roboto', sans-serif;
	margin: 2em;
}

nav a{
	font-family: 'Roboto', sans-serif;
	display: inline-block;
	text-decoration: none;
	font-weight: normal;
	font-size: 14px;
	margin-top: 4em;
	margin-bottom: 4em;
	margin-left:4em;
	color: grey;
}

nav{

	height: 108px;
}

a:hover{
	color: #000000;
	font-weight: bold;
	border-bottom: 3px solid black;
	padding-bottom: 10px;
}


p{
	font-family: 'Roboto', sans-serif;
	color: grey;
	font-weight: light;
	font-size: 14px;
	text-align: left;
	padding-top: 2em;
}

img{
	float: left;
	display: inline-block;
	margin: 0 auto;
	clear: both;
	width: 500px;

}

h1{
	font-family: 'Roboto', sans-serif;
	color: grey;
	font-weight: bold;
	font-size: 14px;
}

#who{
	float: right;
	margin: 3em;
	line-height: 2;
	width: 500px;
	/*background-color: red;*/

}

#hero{
	float:left;
	width: 500px;
	background: red;
	margin-left:4em;
}

.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}


@media only screen and (max-width: 1174px) {
	#who{
	margin-left: 1em;
	line-height: 2;
	width: 500px;
	/*background-color: red;*/
	}
	
	img{
	float: left;
	display: block;
	}
}

@media only screen and (max-width: 1144px) {
	#who{
	padding-left: 1em;
	line-height: 2;
	width: 400px;
	/*background-color: red;*/
	}
	
	img{
	float: left;
	display: block;
	}
}

@media only screen and (max-width: 1044px) {
	#who{
	padding-left: 1em;
	line-height: 2;
	width: 300px;
	/*background-color: red;*/
	}
	
	img{
	float: left;
	display: block;
	}
}

@media only screen and (max-width: 650px) {
	#who{
	float: left;
	margin-left: 3em;
	line-height: 2;
	width: 500px;
	}
	p{
	text-align: center;
	/*background-color: red;*/
	}
	h1{
		text-align: center;
	}
	
}