@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400');

header{
	background-image: url("https://www.eileenfisher.com/media/wysiwyg/cms-pages/behind-the-label/made_in_usa_main.jpg");
	background-size: cover;
	height: 400px;
}


nav{
   font-size: 12px;
   font-weight: thin;
   margin-left: 2em;
   border-bottom: 2px solid #000;
   display: inline;
   padding-bottom: 10px;
}

#mainheader{
	color: white;
	margin: 40px;
	padding-top: 180px;
	text-align: center;
}

img{
	display: block;
}

h2{
  margin-top: 50px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
}

ul{
  font-size: 12px;
  font-weight: thin;
  line-height: 2em;
}



body{
	font-family: 'Fira Sans', sans-serif;
	font-weight: light;
	letter-spacing: .05em;
	line-height: 1em;
}

#img_2{
	width: 428px;
	margin: 10px 100px 50px 300px;
}


