body{
	color: #a9a9a9;
}

h1{
	position: absolute;
	top: 100px;
	left: 50px;
	text-align: left;
	font-family: Helvetica;
	font-weight: medium;
	font-size: 24px;
}

.yourearthday{
	position: absolute;
	bottom: 250px;
	left: 50px;
	text-align: left;
	font-family: Helvetica;
	font-weight: light;
	font-size: 24px;
}

#livinglocal{
	position: absolute;
	bottom: 200px;
	left: 50px;
	text-align: left;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 36px;
}

.shopyourstyle{
	position: absolute;
	bottom: 100px;
	left: 50px;
	text-align: left;
	font-family: Helvetica;
	font-weight: light;
	font-size: 24px;
	text-decoration: underline;
}
